@media screen and (max-width: 700px) {
	.page-container {
		display: grid;
		grid-template-columns: 2% 1fr 1%;
		grid-template-rows: 50px 50px 200px 200px;
		grid-gap: 2%;
	}

	#sumcont, #text, #rescont {
		grid-column: 2;
	}
	
	#rescont {
		grid-row: 4;
	}
}