#topnav {
	background-color: white;
	overflow: hidden;
	grid-column: 1 / 6;
	grid-row: 1;
}

#name {
	float: left;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#topnav a:hover {
	background-color: #4d94ff;
	border-radius: 2px;
	color: black;
}

#name, #inname, #topnav {
	display: flex;
	flex-direction: column;
   	align-items: center;
}